<html>

<head>
    <meta charset="utf-8">
    <title>Fábrica de App</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">





    <!-- Libraries CSS Files -->
    <link href="assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="assets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="assets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">


</head>


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
  rel="stylesheet">

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <!--banner-->
  <section id="banner" class="banner" >
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Fábrica de App
                <span class="logo-dec"></span>
              </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active">
                  <a href="#banner">Home</a>
                </li>
                <li class="">
                  <a href="#produto">Exibir Produtos</a>
                </li>
                <li class="">
                  <a href="#pedido">Receber Pedidos</a>
                </li>
                <li class="">
                  <a href="#cliente">Conhecer Clientes</a>
                </li>
                <li class="">
                  <a href="#contact">Solicitar Acesso</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </nav>

      <div class="container">
        <div class="row">
          <div class="banner-info">

            <div class="banner-text text-center">
              <h1 class="white">Tenha seu próprio App de vendas</h1>
              <p>Aprimore seu processo de vendas entrando na era Digital e vendendo através de um aplicativo mobile.</p>
              <a href="#" class="btn btn-appoint">Solicitar Atendimento</a>
            </div>
            <div class="overlay-detail text-center">
              <a href="#service">
                <i class="fa fa-angle-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--/ banner-->






  <!--==========================
      Section 1
    ============================-->
  <section id="produto" class="about wow fadeInUp" (show)="itemExibido">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 about-img">
          <img src="assets/img/tela01.jpg" alt="">
        </div>

        <div class="col-lg-6 content vcenter">
          <h2>Exibir Produtos</h2>
          <h3>Você vai poder rapidamente disponibilizar aos clientes toda sua coleção de peças</h3>

          <ul>
            <li>
              <i class="ion-android-checkmark-circle"></i> Mostrar sua coleção de peças para os clientes.</li>
            <li>
              <i class="ion-android-checkmark-circle"></i> Lançar novos modelos.</li>
            <li>
              <i class="ion-android-checkmark-circle"></i> Organizar e coleção no celular do cliente.</li>
          </ul>

        </div>
      </div>

    </div>
  </section>
  <!-- #secao1 -->

  <!--==========================
      Section 2
    ============================-->
  <section id="pedido" class="about wow fadeInUp">
    <div class="container">
      <div class="row">


        <div class="col-lg-6 content">
          <h2>Receber Pedidos</h2>
          <h3>Você vai poder rapidamente disponibilizar aos clientes toda sua coleção de peças</h3>

          <ul>
            <li>
              <i class="ion-android-checkmark-circle"></i> Mostrar sua coleção de peças para os clientes.</li>
            <li>
              <i class="ion-android-checkmark-circle"></i> Lançar novos modelos.</li>
            <li>
              <i class="ion-android-checkmark-circle"></i> Organizar e coleção no celular do cliente.</li>
          </ul>
        </div>

        <div class="col-lg-6 about-img">
          <img src="assets/img/tela01.jpg" alt="">
        </div>
      </div>

    </div>
  </section>
  <!-- #secao2 -->

  <!--==========================
      Section 3
    ============================-->
  <section id="cliente" class="about wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 about-img">
          <img src="assets/img/tela01.jpg" alt="">
        </div>

        <div class="col-lg-6 content">
          <h2>Conhecer Clientes</h2>
          <h3>Você vai poder rapidamente disponibilizar aos clientes toda sua coleção de peças</h3>

          <ul>
            <li>
              <i class="ion-android-checkmark-circle"></i> Mostrar sua coleção de peças para os clientes.</li>
            <li>
              <i class="ion-android-checkmark-circle"></i> Lançar novos modelos.</li>
            <li>
              <i class="ion-android-checkmark-circle"></i> Organizar e coleção no celular do cliente.</li>
          </ul>

        </div>
      </div>

    </div>
  </section>
  <!-- #secao3 -->

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright
        <strong>Reveal</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
        Designed by
        <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top">
    <i class="fa fa-chevron-up"></i>
  </a>



</body>

<!-- JavaScript Libraries -->
<script src="assets/lib/jquery/jquery.min.js"></script>
<script src="assets/lib/jquery/jquery-migrate.min.js"></script>

<script src="assets/lib/easing/easing.min.js"></script>
<script src="assets/lib/superfish/hoverIntent.js"></script>
<script src="assets/lib/superfish/superfish.min.js"></script>
<script src="assets/lib/wow/wow.min.js"></script>
<script src="assets/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="assets/lib/magnific-popup/magnific-popup.min.js"></script>
<script src="assets/lib/sticky/sticky.js"></script>



<!-- Template Main Javascript File -->
<script src="assets/js/main.js"></script>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.easing.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/custom.js"></script>

</html>
