<div class="container">
  <h1>Login</h1>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="usuario">Usuário</label>
      <input type="text"  [(ngModel)]="cliente.login"  name="login" class="form-control" id="usuario" required>
    </div>

    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" [(ngModel)]="cliente.senha" name="senha"  class="form-control" id="senha">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>

</div>
