<div class="sidebar" data-color="purple" data-image="../../assets-lbd/img/sidebar-5.jpg">

  <!--

      Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
      Tip 2: you can also add an image using data-image tag

  -->

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text">
        Digicom
      </a>
    </div>

    <ul class="nav">
      <li>
        <a routerLink="/home">
          <i class="pe-7s-graph"></i>
          <p>Gr?ficos</p>
        </a>
      </li>
      <li>
        <a routerLink="/home/produto">
          <i class="pe-7s-graph"></i>
          <p>Produtos</p>
        </a>
      </li>
      <li>
        <a routerLink="/home/pedido">
          <i class="pe-7s-user"></i>
          <p>Pedidos</p>
        </a>
      </li>

    </ul>
  </div>
</div>
